In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
# import TargetEncoder
from category_encoders import TargetEncoder, OneHotEncoder

In [2]:
jobs = pd.read_csv("../data/clean data.csv")

In [3]:
jobs

,Salary,Level,Year of Experience,Contract Type,Sex,Programming Language,Language,Location
0,20500000.0,Nhân viên,2 năm,Toàn thời gian,Không yêu cầu,java,tiếng anh,Hà Nội
1,36500000.0,Nhân viên,2 năm,Toàn thời gian,Không yêu cầu,Khác,tiếng anh,Hồ Chí Minh
2,22500000.0,Trưởng/Phó phòng,2 năm,Toàn thời gian,Không yêu cầu,Khác,Không yêu cầu,Hà Nội
3,22500000.0,Trưởng nhóm,3 năm,Toàn thời gian,Không yêu cầu,Khác,Không yêu cầu,Hà Nội
4,30000000.0,Nhân viên,3 năm,Toàn thời gian,Không yêu cầu,php,Không yêu cầu,Hà Nội
...,...,...,...,...,...,...,...,...
2257,30000000.0,Nhân viên,3 năm,Toàn thời gian,Không yêu cầu,javascript,tiếng anh,Hà Nội
2258,11500000.0,Nhân viên,1 năm,Toàn thời gian,Không yêu cầu,Khác,tiếng anh,Hà Nội
2259,30000000.0,Nhân viên,2 năm,Toàn thời gian,Không yêu cầu,c#,Không yêu cầu,Hà Nội
2260,30000000.0,Nhân viên,2 năm,Toàn thời gian,Không yêu cầu,python,Không yêu cầu,Hà Nội
2261,30000000.0,Nhân viên,2 năm,Toàn thời gian,Không yêu cầu,java,Không yêu cầu,Hà Nội

In [4]:
# Bỏ 2 cột không cần thiết Sex và Job Title
jobs = jobs.drop(columns = ['Sex', 'Contract Type'])
jobs

,Salary,Level,Year of Experience,Programming Language,Language,Location
0,20500000.0,Nhân viên,2 năm,java,tiếng anh,Hà Nội
1,36500000.0,Nhân viên,2 năm,Khác,tiếng anh,Hồ Chí Minh
2,22500000.0,Trưởng/Phó phòng,2 năm,Khác,Không yêu cầu,Hà Nội
3,22500000.0,Trưởng nhóm,3 năm,Khác,Không yêu cầu,Hà Nội
4,30000000.0,Nhân viên,3 năm,php,Không yêu cầu,Hà Nội
...,...,...,...,...,...,...
2257,30000000.0,Nhân viên,3 năm,javascript,tiếng anh,Hà Nội
2258,11500000.0,Nhân viên,1 năm,Khác,tiếng anh,Hà Nội
2259,30000000.0,Nhân viên,2 năm,c#,Không yêu cầu,Hà Nội
2260,30000000.0,Nhân viên,2 năm,python,Không yêu cầu,Hà Nội
2261,30000000.0,Nhân viên,2 năm,java,Không yêu cầu,Hà Nội

- Categorical encoding for Level variable

In [5]:
jobs['Level'].unique()

array(['Nhân viên', 'Trưởng/Phó phòng', 'Trưởng nhóm', 'Thực tập sinh',
       'Quản lý / Giám sát', 'Giám đốc'], dtype=object)

In [6]:
label_encoder = LabelEncoder()
l = [
    {
        'ord': 0,
        'value': 'Thực tập sinh'
    },
    {
        'ord': 1,
        'value': 'Nhân viên'
    },
    {
        'ord': 2,
        'value': 'Trưởng nhóm'
    },
    {
        'ord': 3,
        'value': 'Trưởng/Phó phòng'
    },
    {
        'ord': 4,
        'value': 'Quản lý / Giám sát'
    },
    {
        'ord': 5,
        'value': 'Giám đốc'
    }
]

for i in l:
    jobs['Level'] = jobs['Level'].replace(i['value'], i['ord'])

jobs

C:\Users\TUAN\AppData\Local\Temp\ipykernel_9772\208823211.py:30: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  jobs['Level'] = jobs['Level'].replace(i['value'], i['ord'])

,Salary,Level,Year of Experience,Programming Language,Language,Location
0,20500000.0,1,2 năm,java,tiếng anh,Hà Nội
1,36500000.0,1,2 năm,Khác,tiếng anh,Hồ Chí Minh
2,22500000.0,3,2 năm,Khác,Không yêu cầu,Hà Nội
3,22500000.0,2,3 năm,Khác,Không yêu cầu,Hà Nội
4,30000000.0,1,3 năm,php,Không yêu cầu,Hà Nội
...,...,...,...,...,...,...
2257,30000000.0,1,3 năm,javascript,tiếng anh,Hà Nội
2258,11500000.0,1,1 năm,Khác,tiếng anh,Hà Nội
2259,30000000.0,1,2 năm,c#,Không yêu cầu,Hà Nội
2260,30000000.0,1,2 năm,python,Không yêu cầu,Hà Nội
2261,30000000.0,1,2 năm,java,Không yêu cầu,Hà Nội

- Categorical encoding for Year of Experience variable

In [7]:
jobs['Year of Experience'].unique()

array(['2 năm', '3 năm', 'Không yêu cầu kinh nghiệm', '1 năm',
       'Dưới 1 năm', '5 năm', '4 năm', 'Trên 5 năm'], dtype=object)

In [8]:
l = [
    {
        'ord': 0,
        'value': 'Không yêu cầu kinh nghiệm'
    },
    {
        'ord': 1,
        'value': 'Dưới 1 năm'
    },
    {
        'ord': 1,
        'value': '1 năm'
    },
    {
        'ord': 2,
        'value': '2 năm'
    },
    {
        'ord': 3,
        'value': '3 năm'
    },
    {
        'ord': 4,
        'value': '4 năm'
    },
    {
        'ord': 5,
        'value': '5 năm'
    },
    {
        'ord': 5,
        'value': 'Trên 5 năm'
    }
]

In [9]:
for i in l:
    jobs['Year of Experience'] = jobs['Year of Experience'].replace(i['value'], i['ord'])

jobs

C:\Users\TUAN\AppData\Local\Temp\ipykernel_9772\651282837.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  jobs['Year of Experience'] = jobs['Year of Experience'].replace(i['value'], i['ord'])

,Salary,Level,Year of Experience,Programming Language,Language,Location
0,20500000.0,1,2,java,tiếng anh,Hà Nội
1,36500000.0,1,2,Khác,tiếng anh,Hồ Chí Minh
2,22500000.0,3,2,Khác,Không yêu cầu,Hà Nội
3,22500000.0,2,3,Khác,Không yêu cầu,Hà Nội
4,30000000.0,1,3,php,Không yêu cầu,Hà Nội
...,...,...,...,...,...,...
2257,30000000.0,1,3,javascript,tiếng anh,Hà Nội
2258,11500000.0,1,1,Khác,tiếng anh,Hà Nội
2259,30000000.0,1,2,c#,Không yêu cầu,Hà Nội
2260,30000000.0,1,2,python,Không yêu cầu,Hà Nội
2261,30000000.0,1,2,java,Không yêu cầu,Hà Nội

- Categorical encoding for Language variable

In [10]:
# l = [
#     {
#         'ord': 0,
#         'value': 'Không yêu cầu'
#     },
#     {
#         'ord': 1,
#         'value': 'tiếng anh'
#     },
#     {
#         'ord': 2,
#         'value': 'tiếng nhật'
#     }
# ]

# for i in l:
#     jobs['Language'] = jobs['Language'].replace(i['value'], i['ord'])

# jobs

one_hot_encoder = OneHotEncoder()
job_pl = one_hot_encoder.fit_transform(jobs['Language'])

jobs = pd.concat([jobs, job_pl], axis=1)
jobs = jobs.drop(columns = ['Language'])
jobs

,Salary,Level,Year of Experience,Programming Language,Location,Language_1,Language_2,Language_3
0,20500000.0,1,2,java,Hà Nội,1,0,0
1,36500000.0,1,2,Khác,Hồ Chí Minh,1,0,0
2,22500000.0,3,2,Khác,Hà Nội,0,1,0
3,22500000.0,2,3,Khác,Hà Nội,0,1,0
4,30000000.0,1,3,php,Hà Nội,0,1,0
...,...,...,...,...,...,...,...,...
2257,30000000.0,1,3,javascript,Hà Nội,1,0,0
2258,11500000.0,1,1,Khác,Hà Nội,1,0,0
2259,30000000.0,1,2,c#,Hà Nội,0,1,0
2260,30000000.0,1,2,python,Hà Nội,0,1,0
2261,30000000.0,1,2,java,Hà Nội,0,1,0

- Categorical encoding for Year of Location variable

In [11]:
jobs['Location'].unique()

array(['Hà Nội', 'Hồ Chí Minh', 'Đà Nẵng', 'Khác'], dtype=object)

In [12]:
# l = [
#     {
#         'ord': 0,
#         'value': 'Hà Nội'
#     },
#     {
#         'ord': 1,
#         'value': 'Hồ Chí Minh'
#     },
#     {
#         'ord': 2,
#         'value': 'Đà Nẵng'
#     },
#     {
#         'ord': 3,
#         'value': 'Khác'
#     },
# ]

# for i in l:
#     jobs['Location'] = jobs['Location'].replace(i['value'], i['ord'])

# jobs

one_hot_encoder = OneHotEncoder()
job_pl = one_hot_encoder.fit_transform(jobs['Location'])

jobs = pd.concat([jobs, job_pl], axis=1)
jobs = jobs.drop(columns = ['Location'])
jobs

,Salary,Level,Year of Experience,Programming Language,Language_1,Language_2,Language_3,Location_1,Location_2,Location_3,Location_4
0,20500000.0,1,2,java,1,0,0,1,0,0,0
1,36500000.0,1,2,Khác,1,0,0,0,1,0,0
2,22500000.0,3,2,Khác,0,1,0,1,0,0,0
3,22500000.0,2,3,Khác,0,1,0,1,0,0,0
4,30000000.0,1,3,php,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2257,30000000.0,1,3,javascript,1,0,0,1,0,0,0
2258,11500000.0,1,1,Khác,1,0,0,1,0,0,0
2259,30000000.0,1,2,c#,0,1,0,1,0,0,0
2260,30000000.0,1,2,python,0,1,0,1,0,0,0
2261,30000000.0,1,2,java,0,1,0,1,0,0,0

In [13]:
one_hot_encoder = OneHotEncoder()
job_pl = one_hot_encoder.fit_transform(jobs['Programming Language'])

jobs = pd.concat([jobs, job_pl], axis=1)
jobs = jobs.drop(columns = ['Programming Language'])
jobs

,Salary,Level,Year of Experience,Language_1,Language_2,Language_3,Location_1,Location_2,Location_3,Location_4,...,Programming Language_2,Programming Language_3,Programming Language_4,Programming Language_5,Programming Language_6,Programming Language_7,Programming Language_8,Programming Language_9,Programming Language_10,Programming Language_11
0,20500000.0,1,2,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,36500000.0,1,2,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,22500000.0,3,2,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,22500000.0,2,3,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,30000000.0,1,3,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,30000000.0,1,3,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2258,11500000.0,1,1,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2259,30000000.0,1,2,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2260,30000000.0,1,2,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2261,30000000.0,1,2,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Training

In [14]:
# train test split
from sklearn.model_selection import train_test_split

X = jobs.drop(columns = ['Salary'])
y = jobs['Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train

,Level,Year of Experience,Language_1,Language_2,Language_3,Location_1,Location_2,Location_3,Location_4,Programming Language_1,Programming Language_2,Programming Language_3,Programming Language_4,Programming Language_5,Programming Language_6,Programming Language_7,Programming Language_8,Programming Language_9,Programming Language_10,Programming Language_11
610,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1892,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
427,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
374,2,4,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
105,1,2,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,1,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1095,1,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1130,1,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1294,1,3,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
860,1,3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [15]:
# # Chuẩn hóa dữ liệu về dạng có giá trị từ 0 đến 1
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

In [16]:
# train model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [17]:
y_test

1577    30000000.0
771     20000000.0
1192     3500000.0
1137    11000000.0
56      26450000.0
           ...
8        8500000.0
2247    14000000.0
2098    20000000.0
450      7000000.0
316     27500000.0
Name: Salary, Length: 453, dtype: float64

In [18]:
# predict
y_pred = model.predict(X_test)
y_pred

array([30098479.25651615, 18607192.01585037,  4444627.38454786,
       16336157.45365746, 24919725.39921247, 25309770.78739469,
       21881507.03463203, 10440427.39995342, 27614075.50252035,
       24444027.57659008, 29676093.18552476, 20051778.2818452 ,
       25196892.2716001 , 24555615.31601924, 21598629.21759613,
       24919725.39921247,  9523040.23721397,  3940979.31416352,
       24919725.39921247, 15324537.87878788, 27614075.50252035,
       24269186.51355287, 22603782.66329253, 26736906.85043653,
       29676093.18552476, 26693442.80760841, 18607192.01585037,
        4000000.        , 14737637.90731339, 27001832.79220779,
       11992294.87187649, 40000000.        , 13149941.9753196 ,
       14737637.90731339, 31563452.38095238,  9523040.23721397,
       18607192.01585037, 25792542.96737404, 39248750.        ,
        7544020.42777952, 24919725.39921247, 21550089.74358974,
       25309770.78739469, 40000000.        , 14737637.90731339,
       40000000.        , 40007799.20634921, 16336157.45365746,
       20807773.13525122, 21134811.69081538, 29676093.18552476,
       14195920.32967033, 18943156.74561204, 19894063.14016173,
       26736906.85043653, 14737637.90731339, 21881507.03463203,
       10440427.39995342,  3940979.31416352, 39366952.38095238,
        3940979.31416352, 15741623.0199539 , 18607192.01585037,
       26693442.80760841, 20546315.03979671, 26693442.80760841,
       14737637.90731339, 19457434.52380952, 14737637.90731339,
       21134811.69081538, 25309770.78739469, 14737637.90731339,
       14737637.90731339, 26693442.80760841, 24882263.75571605,
       24919725.39921247, 18607192.01585037, 21327315.31647085,
       10440427.39995342, 18943156.74561204, 32091297.7169889 ,
       13149941.9753196 , 25309770.78739469, 21935010.10137056,
       14737637.90731339, 18607192.01585037,  9523040.23721397,
       15745316.01731602, 15876600.51019243, 18607192.01585037,
       27001832.79220779, 25837948.41269841,  9523040.23721397,
       26693442.80760841, 24919725.39921247, 25581746.08503381,
       24919725.39921247, 40000000.        , 20615033.31390832,
       20051778.2818452 , 23862580.13592564,  4139686.16536999,
       26693442.80760841, 11346968.89434525, 26736906.85043653,
       24882263.75571605, 14737637.90731339,  7544020.42777952,
       31154606.86535687, 13149941.9753196 , 11992294.87187649,
       15876600.51019243, 18943089.97946499, 19666342.58009905,
       24882263.75571605, 24919725.39921247, 18607192.01585037,
       26590958.33333334, 26693442.80760841, 13149941.9753196 ,
        2319913.1979132 , 24478094.82739483, 12058954.20381141,
       22071598.94840145, 14737637.90731339, 13149941.9753196 ,
       18607192.01585037, 22071598.94840145, 13149941.9753196 ,
       14737637.90731339, 21497752.67379679, 24919725.39921247,
       14737637.90731339, 10440427.39995342, 40000000.        ,
       29665462.36688149, 21478709.60168307, 24919725.39921247,
       14737637.90731339,  4000000.        , 26693442.80760841,
       12058954.20381141, 19490041.66666667, 36880359.309026  ,
       13149941.9753196 ,  4082089.28571429, 31154606.86535687,
        4000000.        , 13149941.9753196 , 29514210.16275043,
       13149941.9753196 , 12058954.20381141, 14737637.90731339,
       13149941.9753196 , 18607192.01585037, 13149941.9753196 ,
       10640742.5742687 , 13149941.9753196 , 16740610.76436464,
       14737637.90731339, 13340266.5945166 , 13149941.9753196 ,
       20546315.03979671, 18607192.01585037, 25309770.78739469,
       26249729.21245421, 32898662.15728715, 24555615.31601924,
       14737637.90731339,  7544020.42777952, 21555286.27589251,
       24444027.57659008, 12058954.20381141, 18607192.01585037,
       24555615.31601924,  9523040.23721397, 24897114.66528397,
       10440427.39995342, 21134811.69081538, 20051778.2818452 ,
       25164310.34044607, 38295200.00000001, 21134811.69081538,
       18775927.15569355, 11992294.87187649, 26693442.80760841,
       20807773.13525122, 24444027.57659008, 22071598.94840145,
       25837948.41269841, 24919725.39921247, 18943156.74561204,
       31154606.86535687, 18607192.01585037, 24919725.39921247,
       21436287.87837979, 22071598.94840145, 18500000.        ,
        9523040.23721397, 13149941.9753196 , 36880359.309026  ,
       20615033.31390832, 36880359.309026  , 14737637.90731339,
       18943156.74561204,  3940979.31416352, 26693442.80760841,
        9523040.23721397,  3940979.31416352,  4139686.16536999,
       25893104.87845488, 14737637.90731339, 10440427.39995342,
       24919725.39921247, 13149941.9753196 , 40000000.        ,
        4444627.38454786, 14737637.90731339, 14737637.90731339,
        3940979.31416352, 19491509.92757243, 40000000.        ,
       36880359.309026  ,  4444627.38454786, 10440427.39995342,
       34900000.        , 18607192.01585037, 31824121.03174603,
       25888791.52212391, 16336157.45365746, 14737637.90731339,
       29294755.86219336, 25792542.96737404,  3940979.31416352,
       25309770.78739469, 24882263.75571605,  9523040.23721397,
       28820666.66666666, 24882263.75571605, 18500000.        ,
       21935010.10137056, 12058954.20381141, 25888791.52212391,
       26736906.85043653, 20160640.33431739, 32898662.15728715,
       21555286.27589251, 14737637.90731339, 13149941.9753196 ,
       20807773.13525122, 24478094.82739483, 22071598.94840145,
       40000000.        ,  2319913.1979132 , 18943156.74561204,
        9550000.        ,  4000000.        ,  9523040.23721397,
       21550089.74358974,  3940979.31416352,  7674072.11872214,
       25792542.96737404, 13149941.9753196 , 26736906.85043653,
       26693442.80760841, 30098479.25651615, 24919725.39921247,
       31533391.69164169, 39366952.38095238,  4583452.68041427,
       14737637.90731339, 14737637.90731339, 13149941.9753196 ,
        4139686.16536999, 21555286.27589251, 13149941.9753196 ,
       25581746.08503381, 25581746.08503381, 18607192.01585037,
       34035524.05927406, 26736906.85043653, 14737637.90731339,
       18607192.01585037, 20615033.31390832, 24919725.39921247,
        9523040.23721397, 27246261.03063603,  9523040.23721397,
       20636900.        , 26693442.80760841,  9523040.23721397,
       11346968.89434525,  7544020.42777952, 10440826.96321996,
       31154606.86535687, 11346968.89434525, 13149941.9753196 ,
       14737637.90731339, 26882691.66666666,  9523040.23721397,
       30098479.25651615, 30098479.25651615, 10640742.5742687 ,
       13149941.9753196 , 14737637.90731339, 13149941.9753196 ,
       32898662.15728715, 36880359.309026  , 24919725.39921247,
        9523040.23721397, 21134811.69081538, 20051778.2818452 ,
       10640742.5742687 , 19491509.92757243, 11646162.43961353,
       25309770.78739469, 25034056.04199936, 24882263.75571605,
       19491509.92757243, 12058954.20381141, 21134811.69081538,
       29676093.18552476, 24882263.75571605, 14737637.90731339,
       21935010.10137056, 25004233.25551083, 29676093.18552476,
       19660877.71950272, 31154606.86535687, 14737637.90731339,
       26693442.80760841,  9523040.23721397, 20807773.13525122,
       18607192.01585037,  9523040.23721397, 29665462.36688149,
       21555286.27589251, 26736906.85043653, 31595684.52380952,
       24919725.39921247, 36513208.33333333, 22071598.94840145,
        4139686.16536999, 25888791.52212391, 13149941.9753196 ,
       27079384.07094814, 21935010.10137056, 26693442.80760841,
       21436287.87837979, 19660877.71950272, 14887035.71428571,
       24882263.75571605,  4000000.        , 22603782.66329253,
       16814788.61788618, 11992294.87187649, 36880359.309026  ,
       25837948.41269841, 18943156.74561204, 14737637.90731339,
       12058954.20381141, 13149941.9753196 , 30098479.25651615,
       20051778.2818452 , 12058954.20381141,  4444627.38454786,
       13149941.9753196 , 40000000.        ,  7544020.42777952,
       10440427.39995342, 14737637.90731339, 18607192.01585037,
       12058954.20381141, 14737637.90731339,  9523040.23721397,
        3873656.95970696, 21935010.10137056, 40000000.        ,
       30982090.90909091, 26693442.80760841, 26736906.85043653,
       33570116.66666667, 18607192.01585037, 20807773.13525122,
       14737637.90731339, 14737637.90731339, 16548416.66666667,
       24919725.39921247, 13149941.9753196 , 14737637.90731339,
        3940979.31416352, 21555286.27589251, 31973916.48074148,
       21555286.27589251, 14737637.90731339,  4444627.38454786,
       21134811.69081538, 21935010.10137056, 20546315.03979671,
        7544020.42777952,  4045171.96028609, 18607192.01585037,
       14737637.90731339, 17764263.88888888, 34774958.33333333,
       24882263.75571605, 13149941.9753196 ,  7544020.42777952,
       26736906.85043653, 14737637.90731339, 10440427.39995342,
        9550000.        , 24478094.82739483, 14737637.90731339,
        5575166.66666667, 10440427.39995342, 18607192.01585037,
        9523040.23721397, 31603378.18979267, 13149941.9753196 ,
       20711438.09170853, 22071598.94840145,  9523040.23721397,
       19491509.92757243, 13149941.9753196 , 18607192.01585037,
       12058954.20381141, 18607192.01585037,  9523040.23721397,
       24555615.31601924,  7849485.87097974, 14737637.90731339,
       24269186.51355287, 14737637.90731339, 10440427.39995342,
       26736906.85043653, 18500000.        , 14737637.90731339,
       25778488.09523809, 13149941.9753196 , 14551880.95238096,
       21555286.27589251, 20615033.31390832, 22071598.94840145,
       24882263.75571605, 14737637.90731339,  7544020.42777952,
        3940979.31416352,  4082089.28571429, 13149941.9753196 ,
       20546315.03979671,  2475748.37662338, 25228412.6984127 ])

In [19]:
result = pd.DataFrame({ 'Actual': y_test, 'Predicted': y_pred})
# Thêm cột sai số tuyệt đối
result['Absolute Error'] = np.abs(result['Actual'] - result['Predicted'])
result

          Actual     Predicted  Absolute Error
1577  30000000.0  3.009848e+07    9.847926e+04
771   20000000.0  1.860719e+07    1.392808e+06
1192   3500000.0  4.444627e+06    9.446274e+05
1137  11000000.0  1.633616e+07    5.336157e+06
56    26450000.0  2.491973e+07    1.530275e+06
...          ...           ...             ...
8      8500000.0  4.082089e+06    4.417911e+06
2247  14000000.0  1.314994e+07    8.500580e+05
2098  20000000.0  2.054632e+07    5.463150e+05
450    7000000.0  2.475748e+06    4.524252e+06
316   27500000.0  2.522841e+07    2.271587e+06

[453 rows x 3 columns]

In [20]:
# Max Absolute Error
absolute_error = result[result['Absolute Error'] >= 10000000].count()
absolute_error

Actual            45
Predicted         45
Absolute Error    45
dtype: int64